body {
    line-height: 1.7em;
    font-size: 1em;
	font-family: 'Montserrat', sans-serif;
    font-feature-settings: "kern";
    font-kerning: normal;
    background: 000000;
    padding: 0;
    margin: 0;
}

p{
	z-index: 10000;
	font-size: 1.2em;
	text-align: center;
    line-height: 1.8;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	color: #616161;
	display: block;
	margin: auto;
	text-decoration: none;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size:2.2em;
	letter-spacing: 2px;
	font-weight: 500;
}

h1,h3{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: .15em;
	font-weight: 700;
	display:block;
	margin: auto;
	text-align: center;
	padding-top:1.5em;
	padding-bottom: 1.2em;
}
h4{
	font-family: 'Montserrat', sans-serif;
	font-weight:25; 
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1em;
	color: #575555;
	padding-top: .3em;
	text-align: center;
	display: block;
	margin: auto;
	letter-spacing: .1em;
	line-height: 1.5em;
	padding-bottom: 10%;
}

a:link{
	text-decoration: none;
	color: inherit;

}
a: visited{
	text-decoration: none;
}

#fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #D7D5D5;
  }

#fixed> a {
	text-decoration: none;
	color: inherit;
}

#fixed> nav {
    width: 100%;
    text-decoration: none;
    padding-bottom: 2em;
    padding-top: .7em;
    font-size: 1.2em;
    margin: auto;
    font-weight: bold;
    color: #616161;

}

#fixed > a img{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	left: 65px;
}


#fixed> nav a {
    text-decoration: none;
    margin: 2px 2em;
    padding-left: .3em;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #6c6c6d;
    float: right;
}

#toggle{
	display: none;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

label{
	color:#6c6c6d;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:32em;
	font-size: 18px;
	display: none;
}

#works{
	clear: both;
	display: block;
	padding-bottom: 0;
	margin-bottom: 40px;
}

#web> h2{
	color: #494747;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: .2em;
	padding-left: 1.7em;
	text-align: center;
	margin-top: 15%;
}

#logo> h2{
	Clear: both;
	color: #494747;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: .2em;
	padding-left: 1.7em;
	padding-top: 100px;
	text-align: center;
	margin-top: 30%;
}

#poster> h2{
	color: #494747;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: .2em;
	padding-left: 1.7em;
	text-align: center;
	margin-top: 56%;
}

hr {
	max-width: 6%;
	border-color: orange;
	border-width: 2px;
	margin-left: 48%;
	margin-top: .5em;
    margin-bottom: 2em;
    border-style: solid;
    display: block;
    text-align: center;
}

#web> img{
	display: block;
	margin: auto;
	width:33%;
	height: 320px;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 3em;
	float: left;
}

#logo> img{
	display: block;
	margin: auto;
	width:33.33%;
	height: 260px;
	float: left;
}

#poster> img{
	display: block;
	margin: auto;
	width:25%;
	height: 15%;
	float: left;
	padding-bottom: 5%;
}


footer {
    width: 100%;
    background-color: #D7D5D5;
    text-align: center;
    clear: both;
    padding-top: 2em;
    padding-bottom: 3em;
}

footer> img{
	width: 3%;
	padding-top: 30px;
}


@media screen and (max-width: 1220px) {
 	#web> img {
    width: 33%;
    height: 311px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
}
footer>img {
    width: 4%;
}
}

@media screen and (max-width: 1002px) {
  	#web> img {
    height: 279px;
}

#logo> img {
    width: 33.33%;
    height: 203px;
    text-align: center;/
}
	#poster> h2 {
    margin-top: 69%;
	}
}

@media screen and (max-width: 999px) {
 	#web> img {
    height: 263px;
	}

#logo> img {
   width: 33.33%;
    height: 200px;
}
	footer>img {
    width: 4%;
}
	#poster> h2 {
    margin-top: 67%;
	}
}
@media screen and (max-width: 811px){
#fixed > a img {
    left: 24px;
}
}

@media screen and (max-width: 770px) { 
 #fixed{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #D7D5D5;
  }
}

@media screen and (max-width: 795px) {
    #web > img{
    height: 303px;
    width: 50%;
}
#logo> img {
    width: 49.33%;
    height: 214px;
}

#poster> h2{
padding-top: 49%
}
@media screen and (max-width: 635px) {
	#fixed{
	  position: fixed;
	  top: 0;
	  left: 0;
	  margin: 0;
	  width: 100%;
	  background-color: #D7D5D5;
  }
	
	nav{
		display: none;
	}

	nav a:link{
		display: block;
		margin-right: 30%;
		text-align: center;
	}

	#fixed > a img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 34px;
}
	label{
	display: block;
	color: #6c6c6d;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 90%;
    font-size: 18px;
}
	}

	#toggle:checked + nav{
		display: block;
	}
	footer>img{
		width: 4%;
	}
}

@media screen and (max-width: 588px) {

label {
    padding-left: 85%;
}
}

@media screen and (max-width: 580px) {
	
	label {
    padding-left: 85%;
	}

	#web > img {
    height: 337px;
    width: 84%;
    float: none;
}

	#logo> img {
    width: 77.33%;
    height: 217px;
    float: none;
}
	#poster >img{
    width: 50%;
    height: 18%;
    padding-bottom: 5%;
    float:none;
}
}

@media screen and (max-width: 516px) {
	#works> img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
	}
}

@media screen and (max-width: 485px) {
	#fixed> nav a {
    text-decoration: none;
    margin: 2px 1em;
    padding-left: 1.3em;
    }
}

@media screen and (max-width: 470px) {
	label {
    padding-left: 85%;
}

#fixed> nav a {
    text-decoration: none;
    margin: 2px 1em;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #6c6c6d;
	}

	#poster> h2 {
    margin-top: -21%;
	}
}
	
	@media screen and (max-width: 440px) {
	#fixed> nav a {
    text-decoration: none;
    margin: 1px 0.6em;
    padding-right: .7em;
    }
    #web > img {
    height: 280px;
    width: 83%;
    float: none;
}
#logo> img {
    width: 77.33%;
    height: 186px;
 }
 #poster> h2 {
     margin-top: 0%;
}
 }


@media screen and (max-width: 435px) {

#fixed> nav a {
    padding: 0;
    margin: 0 4%;
}
}