body {
	background-color: #FFFFFF;
	color: #696969;
	text-align: center;
	font-weight: normal;
	font-family: Arial, Helvetica,sans-serif;

}

nav {float: center;
	text-decoration-style: none;
}

a:Work, a:About Me, a:Contact Me,{
	text-decoration: none;
}



h1 {text-align: center;}
a h2 {color: white;
	}
p {
	text-align: center;

}

ul {list-style-type: none;
	list-style-position: 
  }
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right; 
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

footer {
	display: block;
	background-color:#A8A8A8;
	color: white;
	padding:3px;
}